<h1><%= @page_title || "All Products" %></h1>

<%= render "search_form" %>
<%= render "categories/category_nav" %>

<div class="products-grid">
  <% if @products.any? %>
    <%= render partial: "product_card", collection: @products, as: :product %>
  <% else %>
    <p>No products found.</p>
  <% end %>
</div>

<%= paginate @products %>
